@import "reset";
@import "./variables/fonts";
@import "./variables/variables";
@import "./themes/light";
@import "./themes/dark";

.app {
    font: var(--font-m);
    background: var(--bg-1);
    color: var(--font-1);
    min-height: 100vh;

    &-wrapper {
        display: flex;
        height: 100%;
    }

    &-content {
        display: flex;
        height: 100%;
        padding: 10px;
        flex-grow: 1;
    }
}
