.Button {
  background: none;
  outline: none;
  cursor: pointer;
  border: none;
  line-height: 1.2;

  svg {
    display: block;
  }
}

.link {
  color: var(--primary-1);
}

.primary {
  display: block;
  padding: 6px 12px;
  background: var(--primary-1);
  color: var(--primary-font-1);
  border-radius: 4px;
}

.border {
  display: block;
  padding: 6px 12px;
  border: 2px solid var(--primary-1);
  color: var(--primary-1);
  border-radius: 4px;
  font-weight: 500;

  svg {
    fill: var(--primary-1);
  }
}