.app.dark {
    --bg-1: #121212;
    --bg-2: #414141;
    --bg-3: #2d2d2d;
    --bg-4: #3a2d49;
    --bg-5: #2e2e2e;
    --primary-1: #c38fff;
    --primary-font-1: #1f1b24;
    --primary-2: #a87ae0;
    --primary-font-2: #1f1b24;
    --secondary-1: #03dac6;
    --secondary-2: #018786;
    --error-1: #cf6679;
    --error-2: #b00020;
    --font-1: #fff;
    --font-2: #eee;
    --font-3: #898989;
}
