.app.light {
    --bg-1: #fff;
    --bg-2: #f9f9f9;
    --bg-3: #f6f6f6;
    --bg-4: #f3f3f3;
    --bg-5: #f3f3f3;
    --primary-1: #c38fff;
    --primary-font-1: #fff;
    --primary-2: #a87ae0;
    --primary-font-2: #fff;
    --secondary-1: #03dac6;
    --secondary-2: #00cbb8;
    --error-1: #cf6679;
    --error-2: #b00020;
    --font-1: #000;
    --font-2: #000;
    --font-3: #000;
}
