.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-4);
    padding: 14px;
}

.Menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    a {
        padding: 5px 10px;
        display: block;
        text-decoration: none;
    }
}

.Operation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div,
    button,
    a {
        margin-left: 12px;
    }
}
